<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Flybits Sample</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.flybits</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>flybits</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>47</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>facetime</string>
		<string>http</string>
		<string>https</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Access allows to check calendar availability</string>
	<key>NSCameraUsageDescription</key>
	<string>Access allows to take photos for profile picture</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Flybits uses your steps and walking/running distance to provide appropriate Zones/Moments</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Flybits uses location to find nearest Zones</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Flybits uses location to find nearest Zones</string>
	<key>NSMotionUsageDescription</key>
	<string>Flybits uses your motion data to provide appropriate Zones/Moments</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access allows to upload photos for profile picture</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_favorite_star_w</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Zones</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Favorites</string>
			<key>UIApplicationShortcutItemType</key>
			<string>FavouriteZones</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_myzones_w</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Zones</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Created by me</string>
			<key>UIApplicationShortcutItemType</key>
			<string>MyZones</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
